

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
    margin-bottom: 20px;
}

.profile-details h2 {
    margin-top: 0;
}

.user-documents {
    margin-top: 20px;
}

.document-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.document-link {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.document-link:hover {
    text-decoration: underline;
}


.delete-form {
    display: inline-block;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c82333;
}
