<ul class="admin-menu">
    <li><a href="/admin/documents">Zarządzaj Dokumentami</a></li>
    <li><a href="/admin/users">Zarządzaj Użytkownikami</a></li>
    <li><a href="/admin/categories">Zarządzaj Kategoriami</a></li>
</ul>
