<header class="header">
    <a href="/">
        <h1>DocStore</h1>
    </a>

    <% if (user) { %>
        Witaj <%= user.username %>
        <br>
        <a href="/logout">Wyloguj</a>

    <% } else { %>
        <a href="/login">
            <button>Zaloguj się</button>
        </a>

        <a href="/register">
            <button>Zarejestruj się</button>
        </a>
    <% } %>
</header>