<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<header class="header">
    <a href="/" class="logo-link">
        <img src="/img/logo.png" alt="DocStore Logo" class="logo">
    </a>

    <div class="header-buttons">
        <% if (user) { %>
            <div class="user-info">
                <span class="welcome-message">Witaj, <%= user.username %></span>
            </div>
            <div class="buttons">
                <% if (user.is_admin === 1) {%>
                    <a href="/admin" class="header-button">
                        <button>Panel administratora</button>
                    </a>
                <% } %>

                <a href="/profile" class="header-button">
                    <button>Profil</button>
                </a>
                <a href="/add-document" class="header-button">
                    <button>Dodaj dokument</button>
                </a>
                <a href="/logout" class="header-button">
                    <button>Wyloguj</button>
                </a>
            </div>
        <% } else { %>
            <div class="buttons">
                <a href="/login" class="header-button">
                    <button>Zaloguj się</button>
                </a>
                <a href="/register" class="header-button">
                    <button>Zarejestruj się</button>
                </a>
            </div>
        <% } %>
    </div>
</header>
</body>
</html>
