<head>
    <link rel="stylesheet" href="/css/popup.css">
</head>

<script src="/js/popupHandler.js"></script>
<script src="/js/tryRetry.js"></script>

<div id="popupContainer" class="popup">
    <div class="popup-content">
        <span id="closePopup" class="close">&times;</span>
        <p></p>
        <a href="#" class="button">Strona główna</a>
    </div>
</div>