<%- include('../partials/header.ejs') %>

<head>
    <link rel="stylesheet" href="/css/register.css">
</head>

<main class="register-container">
    <form method="post" action="/register" class="register-form">
        <label for="username">Login:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Zarejestruj</button>
    </form>
    <div id="register-error-wrapper"></div>
</main>

<%- include('../partials/popup.ejs') %>

<script src="js/auth/registerHandler.js"></script>
